:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(103, 10, 63, 0.87);
  background-color: #ebb8e8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646bec;
  text-decoration: inherit;
  text-align: center;
}
a:hover {
  color: #d487ce;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #52073d;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #05094c;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
input {
  margin: 10px;
  padding: 8px;
  width: 200px;
  text-align: center;
}
button {
  padding: 8px 12px;
  margin-left: 10px;
  text-align: center;
}
table {
  border-collapse: collapse;
  text-align: center;
}
th, td {
  padding: 10px;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #0d3050;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #620530;
  }
}
